@charset "UTF-8";
/* include/admin_header.jsp에서 사용하는 css*/

body {
	font-family: 'Gowun Dodum', sans-serif !important;	
    font-size: 15px;
    overflow-x: hidden;
}

.header-logo {
	border: 0px;
    text-align: center;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 0.5rem
}

.header-nav {
	justify-content: flex-end;
}

.header-nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.header-nav ul li {
    list-style: none;
    padding: 5px;
}

.header-nav ul li a {
    text-decoration: none;
    padding: 1rem 1rem;
    display: block;
    color : white;
    font-weight: bold;
    font-size: 17px;
}

.header-nav ul li a:hover {
    color: gray;
}

.header-logo {
	background-color: black;
}

/* 홈/로그아웃 */
.header-logo .login-section {
}

.header-logo .login-section > a {
	color: white;
}

.header-logo .login-section .login-location {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: white;
}

.header-logo .login-section .login-location > a {	
}

.header-logo .login-section .login-location .bi {
	font-size: 20px;
	
}
.header-logo .login-section .join-location {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo .login-section .login-title {	
	font-weight: bold;
	height : 60px;	
	padding-left: 0.5rem !important;
	padding-right: 2rem !important;
}

/* nav-bar */
.header-logo .nav-bar {
	display: grid;
	align-items: center;	
	background-color: black !important;
}

.header-logo .nav-bar .nav-links {
	font-weight: bold;
}

.header-logo .nav-bar .nav-links > ul {
	padding: 0px;
	margin: 0px;
    display: flex;
}

.header-logo .nav-bar .nav-links > ul > li {
    list-style: none;
}

.header-logo .nav-bar .nav-links > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    display: block;
    border-bottom: 1px solid black;
    font-size: 17px;
}

.header-logo .nav-bar .nav-links > ul > li > a:hover {
    color: gray;
	border-bottom: 1px solid lightgray;
    
}

/* dropdown */
.dropdown-item {
	text-align: center !important;
	font-weight: bold !important;
}

/* 중앙이미지 */
.div_header .logo {
	height: 100px;
}

.div_header .logo:hover {
	cursor: pointer;
}
.div1 {
	width: 80%;
	margin: auto;
}

.div1 form {
	margin: auto;
	text-align: center;
}

.div1 form .btn {
	margin-bottom: 10%;
}

.div1 .table {
	width: 70%;
	margin: auto;
	text-align: center;
	background-color: white;
}

.div1 .table th {
	padding: 5px 20px;
}

.div1 .table .sp2 {
	color: black;
}

.div1 .table .input1 {
	background-color: white;
	border: none;
	border-bottom: 1px solid #000;
	padding-left: 5%;
}

.div1 .table .input1:focus {
	outline: none;
}

.div1 .table select {
	padding: 0 10%;
	text-align: left;
}

.div1 .table select:focus {
	outline: none;
}

.div1 .table select option {
	padding: 10%;
}

.div1 form {
	text-align: center;
	margin-bottom: 2%;
}

.div1 .addUser {
	width: 60%;
	margin: auto;
	text-align: center;
}

.div1 .addUser .input1 {
	size: 40;
}

.div1 .table .logo {
	width: 300px;
	height: 100px;
}

.div1 .table .preview {
	width: 100px;
	height: 100px;
	border: 0px;
}

.div1 .table .logo:hover {
	cursor: pointer;
	opacity: 80%;
}

.div1 .div2 .image-upload{
	display: inline-block;
}

.div1 .div2 .image-upload .logo {
	width: auto;
	height: 280px;
}

.div1 .div2 .image-upload .logo:hover {
	cursor: pointer;
	opacity: 80%;
}

.div1 .div2 .preview {
	width: 100px;
	height: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
.div1 .table .image-upload .file_input {
	display: none;
}
.div1 .div2 .image-upload .file_input {
	display: none;
}

.div1 .noticeinfo {
	margin-bottom: 2%;
}

.div1 .btns {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-bottom: 2%;
	margin: auto;
}


