@charset "UTF-8";

/* admin/admin_main을 제외한 나머지 페이지 */
.div1 {
	width: 50%;
	margin: auto;
}

.div1 form {
	margin: auto;
	text-align: center;
}

.div1 form .btn {
	margin-bottom: 10%;
}

.div1 .table {
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: white;
}

.div1 .table th {
	padding: 5px 20px;
}

.div1 .table .sp2 {
	color: black;
}

.div1 .table .input1 {
	background-color: white;
	border: none;
	border-bottom: 1px solid #000;
	padding-left: 5%;
}

.div1 .table .input1:focus {
	outline: none;
}

.div1 .table select {
	padding: 0 10%;
	text-align: left;
}

.div1 .table select:focus {
	outline: none;
}

.div1 .table select option {
	padding: 10%;
}

