@charset "UTF-8";
/* include/admin_header.jsp에서 사용하는 css*/

.header-logo {
	border: 0px;
    text-align: center;
    display: grid;
    padding: 20px;
}

.header-nav {
	justify-content: flex-end;
}

.header-nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 1rem 1.5rem;
    display: block;
}

.header-nav ul li a:hover {
    color: black;
}

.header-logo .nav-bar {
	margin: auto;
}

.header-logo .nav-bar ul {
	padding: 0;
	margin: auto;
}

.div_header li {
	display: inline-block;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 17px;
	color: black;
}

.div_header li a{
	text-decoration: none;
	color: black;
}

.div_header li:hover {
	cursor: pointer;
	text-decoration-line: underline;
}

.div_header .logo {
	text-align: center;
	height: 100px;
}

.div_header .logo:hover {
	cursor: pointer;
}
.div1 {
	width: 80%;
	margin: auto;
}

.div1 form {
	margin: auto;
	text-align: center;
}

.div1 form .btn {
	margin-bottom: 10%;
}

.div1 .table {
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: white;
}

.div1 .table th {
	padding: 5px 20px;
}

.div1 .table .sp2 {
	color: black;
}

.div1 .table .input1 {
	background-color: white;
	border: none;
	border-bottom: 1px solid #000;
	padding-left: 5%;
}

.div1 .table .input1:focus {
	outline: none;
}

.div1 .table select {
	padding: 0 10%;
	text-align: left;
}

.div1 .table select:focus {
	outline: none;
}

.div1 .table select option {
	padding: 10%;
}

.div1 form {
	text-align: center;
	margin-bottom: 5%;
}

.div1 .addUser {
	width: 60%;
	margin: auto;
	text-align: center;
}

.div1 .addUser .input1 {
	size: 40;
}

.div1 .table .logo {
	width: 300px;
	height: 100px;
}

.div1 .table .preview {
	width: 100px;
	height: 100px;
	border: 0px;
}

.div1 .table .logo:hover {
	cursor: pointer;
	opacity: 80%;
}

.div1 .div2 .image-upload{
	display: inline-block;
}

.div1 .div2 .image-upload .logo {
	width: auto;
	height: 280px;
}

.div1 .div2 .image-upload .logo:hover {
	cursor: pointer;
	opacity: 80%;
}

.div1 .div2 .preview {
	width: 100px;
	height: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
.div1 .table .image-upload .file_input {
	display: none;
}
.div1 .div2 .image-upload .file_input {
	display: none;
}




