@charset "UTF-8";
body {
	overflow-x: hidden;
}
/* admin/admin_main을 제외한 나머지 페이지 */
.div1 {
	width: 70%;
	margin: auto;
}

.div1 form {
	margin: auto;
	text-align: center;
}

.div1 form .btn {
	margin-bottom: 10%;
}

/* admin/user_update.jsp */
.container {
	margin: auto;
	text-align: center;
	width: 70%;
}

/* sub-title */
.container .sub_title {
	display: flex;
	margin: 1rem auto;
	background-color: #FDEDEC;
	border-radius: 10px;
	width: 80%;
}

.container .sub_title > h4 {
	font-weight: bold;
	margin: 1rem;
}

.container form .table {
	margin: auto;
	width: 80%;
	margin-bottom: 2%;
}

.container .table th {
	padding: 5px 20px;
}

.container .table td {
	text-align: left;
	padding-left: 10%;
}

.container .table .input1 {
	background-color: white;
	border: none;
	border-bottom: 1px solid #000;
	padding-left: 2%;
	width: 250px;
}

.container .table .input1:focus {
	outline: none;
}

.container .table select {
	padding: 0 10%;
	text-align: left;
}

.container .table select:focus {
	outline: none;
}

.container .table select option {
	padding: 10%;
}

.container .table .search_zipcode {
	font-size: 15px;
    border-radius: 7px;
    border: none;
    padding: 5px;
    width: 200px;
}

.div1 .table {
	width: 70%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	background-color: white;
}

.div1 .table th {
	padding: 5px 20px;
}

.div1 .table td {
	text-align: left;
	padding-left: 10%;
}



.div1 .table .sp2 {
	color: black;
}

.div1 .table .input1 {
	background-color: white;
	border: none;
	border-bottom: 1px solid #000;
	padding-left: 5%;
}

.div1 .table .input1:focus {
	outline: none;
}

.div1 .table .expcss {
	margin-right: 3%;
}

.div1 .table select {
	padding: 0 10%;
	text-align: left;
}

.div1 .table select:focus {
	outline: none;
}

.div1 .table select option {
	padding: 10%;
}

.div1 .table .search_zipcode {
	font-size: 15px;
    border-radius: 7px;
    border: none;
    padding: 5px;
    width: 200px;
}

.container .updatetable .addr {
	border: 1px solid #ced4da;
	width: 350px;
	margin-bottom: 0.5rem;
}

.container .btns {
	display: flex;
	margin: auto;
	width: 70%;
	justify-content: end;
}

.container .up_btns {
	display: flex;
	margin: auto;
	width: 80%;
	justify-content: space-between;
}
