@charset "UTF-8";

.div1 {
	width: 70%;
	margin: auto;
	text-align: center;
}

.div1 .title {
	margin-bottom: 3%;
}

.div1 .title h3{
	font-weight: bold;
}

.div1 .title span {
	font-weight: bold;
	font-size: 15px;
}

.div1 .insert-form {
	
}

.div1 form {
	text-align: center;
	margin: auto;
}

.div1 .table {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 2%;
}

.div1 .table thead tr th {
	height: 3rem;
	padding: 0;
	font-size: 17px;
}

.div1 .table tr > th, td {
	vertical-align: middle;
	text-align: center;
}

.div1 .table th {
	text-align: center;
}

.div1 form .buttons {
	display: flex;
	margin: 0 auto;
	justify-content: flex-end;
	width: 80%;
}

.div1 form .buttons .btn {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

/* 필수 입력 사항 */
.must-write {
	color: red;
}

.form-control-plaintext {
	font-size: 13px;
	padding-top: 0 !important;
}

.div1 .animal_info .table tr th .animal_name {
	font-size: 16px;
	font-weight: bold;
}

.div1 .animal_info .table img{
	width: 400px;
	height: 350px;
	border-radius: 10px;
	display: block;
	margin: 1% auto;
}

.div1 .btn_list {
	margin-bottom: 2%;
}
