@charset "UTF-8";

.div1 {
	width: 70%;
	margin: auto;
	text-align: center;
}

.div1 .title {
	width: 70%;
	text-align: left;
	font-weight: bold;
	font-size: 2rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.div1 .title > p {
	font-size: 15px;
	
}

.div1 .insert-form {
	
}

.div1 form {
	text-align: center;
	margin: auto;
}

.div1 .table {
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 2%;
}

.div1 .table thead tr th {
	height: 3rem;
	padding: 0;
	font-size: 17px;
}

.div1 .table tr > th, td {
	vertical-align: middle;
	text-align: center;
}

.div1 .table th {
	text-align: center;
}

.div1 form .buttons {
	display: flex;
	margin: 0 auto;
	justify-content: flex-end;
	width: 80%;
}

.div1 form .buttons .btn {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

/* 필수 입력 사항 */
caption {
	font-size: 13px;
}

.must-write {
	color: red;
}

.form-control-plaintext {
	font-size: 13px;
	padding-top: 0 !important;
}



.div1 .animal_name {
	font-weight: bold;
	text-align: left;
	margin: 1rem auto;
	background-color: #f8f9fa;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 10px;
}

.div1 .animal_name h3 {
	font-weight: bold;
	text-shadow: 1px 1px 2px #565c64;
}

.div1 .animal_name span{
	font-size: 14px;
	color: #413F42;
}	

.div1 .animal_info {
	display: flex;
	justify-content: space-between;
}

/* 이미지 */
.animal_img {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50%;
	background-position: center;
	border-radius: 10px;	
}

.div1 .animal_info .info_box {
	width: 49%;
	border: 1px solid #dee2e6;
	padding: 2%;
	text-align: left;
	border-radius: 10px;
	display: flex;
	background-color: #f8f9fa;	
}

.div1 .animal_info .info_box div {
	padding: 2%;
	justify-content: center;
}

.div1 .animal_info .info_box label {
	padding: 2px 10px;
	border-radius: 5px;
	background-color: #D5D8DC;
	border: none;
	font-weight: bold;
	text-align: center;
	margin: 0.5rem;
	width: 45%;
	height: 2rem;
	vertical-align: middle;
}

.div1 .animal_info .info_box .detail {
	padding: 2% 5%;
	display: flex;
}

.div1 .animal_info .info_box textarea {
	border: none;
	font-size: 17px;
}

.div1 .more_images {
	margin: 2% auto;
	width: 70%;
}

.div1 .btn_list {
	margin-bottom: 2%;
}

.div1 .btns {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 2% auto;
	
}
