/* 전체 div */
.container {
    text-align: center;
    margin: auto;
    width: 85%;
}

._container {
	text-align: center;
	margin: auto;
	width: 85%;
	display: flex;
	margin-top: 3%;
}

.container .lists .total_user span {
	font-weight: bold;
	/* color: #FD68A0; */
}

.container .lists .table .btn {
	font-size: 14px;
}

/* admin/user_list.jsp */
.container .search_form .wrapper .user_search {
	width: 250px;
}

.container .search_form .wrapper .radio_grade {
	display: none;	
}

.container .search_form .wrapper .radio_exp {
	display: none;
}

.container .search_form .form_box .user_field {
	width: 20%;
	display: inline-block;
}

.container .total_user {
	text-align: left;
	margin-bottom: 1%;
	color: #566573;
	font-size: 14px;
}

.container .search_form table {
	border: 1px solid #D5D8DC;
	width: 60%;
	text-align: center;
	margin: auto;
	font-size: 14px;
}

.container .search_form table th, .container .search_form table td {
	padding: 2%;
	border: 1px solid #EBEDEF;
}

.container .search_form table th {
	background-color: #EBEDEF;
}
.container .search_form table .radio_grade {
	text-align: left;
}

.container .search_form table label {
	margin-right: 2%;
}

.container .search_form .searchbtn {
	margin-top: 1%;
	background-color: #000;
	color: white;
	font-size: 14px;
}

/* sub-title */
.container .sub-title {
	display: flex;
	margin: 1rem auto;
	width: 60%;
	background-color: #FDEDEC;
	border-radius: 10px;
}

.container .sub-title > h4 {
	font-weight: bold;
	margin: 1rem;
}

/* admin/user_content.jsp 테이블 태그 */
.container ._container .wrap {
	border: 1px solid #ABB2B9;
	border-radius: 5px;
	width: 48%;
	margin: auto;
	margin-bottom: 2%;
	height: 300px;
}

.container ._container .wrap h3 {
	text-align: left;
	font-weight: bold;
	padding: 3%;
}

.container ._container .wrap .user_info {
    padding-left: 3%;
    padding-bottom: 2%;
    text-align: left;
}

.container ._container .wrap .user_info p {
	margin: 0;
}

.container ._container .wrap .user_info .title {
	background-color: #D5D8DC;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	padding: 1% 3%;
	margin: auto;
	margin-bottom: 2%;
	width: 125px;
	text-align: center;
}

.container ._container .wrap .user_info .info_title .info_border {
	border-bottom: 1px solid #D5D8DC;
	width: 90%;
}

.container ._container .wrap .user_info .info_title ul li{
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	margin-right: 10%;
}

.container ._container .wrap .user_info .info_title ul .forMargin {
	margin-bottom: 20px;
}

.container ._container .wrap .user_info .info_title .forMargin div {
	width: 450px;
}

.container ._container .wrap .user_info .info_title ul li span {
	margin-left: 20px;
}

.container ._container .wrap .user_info .info_title ul li .bold {
	font-weight: bold;
}
	
.container ._container .wrap .user_info .cont {
	padding: 1% 3%;
	margin-bottom: 2%;	 
}

.container ._container .wrap .user_info .info_title .user_img {
	width: 52px;
	height: 52px;
	margin-bottom: 30px;
} 

/* admin/cat&dog_content.jsp 테이블 태그 */
.container .petinfo {
    width: 60%;
    margin: auto;
}
/* admin/notice_content.jsp  */
.container .noticeinfo {
    width: 60%;
    margin: auto;
}

.container .noticeinfo tr th {
	vertical-align: middle !important;
}

.container .noticeinfo tr .secret {
	padding-left: 1.5rem;
}

.container .noticeinfo #admin_id {
	color: red;
	font-weight: bold;
	text-align: left;
}

.container .noticeinfo tr th > label {
	margin: 0;
	text-align: center;
}


.container .noticeinfo .user {
	
}

/* fnq 문의글 제목 */
.container .noticeinfo .question {
	text-align: left;
	padding-left: 1.5rem;
}

.container .noticeinfo .answer {
	text-align: left;
	padding-left: 1rem;
	padding-right: 1rem;
}

.container .noticeinfo .form-control-plaintext  {
	resize: none;
} 

.container .noticeinfo tr .user > a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
}

/* admin/_view.jsp 목록 버튼 */
.container .listbtn {
    background-color: #000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5%;
}

.container .listbtn_1 {
    background-color: #0069d9;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5%;
}

.container .listbtn_2 {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5%;
}


/* admin/_list.jsp 검색 결과 테이블 태그 */
.container .searched_list {
    width: 100%;
    text-align: center;
    margin: auto;
}

/* vertical-align 추가 */
.container .searched_list tr > th, td {
	vertical-align: middle !important;
}

/* admin/_list.jsp 표 제목  */
.container .searched_list .list-title {
	text-align: left;
}

.container .searched_list .list-title > a {
	display: block;
	text-decoration: none;
	color: black;
}

.container .searched_list .list-title > a:hover {
 	color: #686461;
}

.searched_list #admin_id {
	color: red;
}

/* admin/ _list.jsp -> 검색 폼 */
.container .search_form {
}

/* admin/ _list.jsp -> 검색 폼 div 태그 */
.container .search_form .form_box {
	display: flex;
    border: 1px solid #545a62;
    width: 70%;
    margin: auto;
    padding: 2%;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    
}
/* admin/ _list.jsp -> 검색 폼 div 태그 검색 버튼 영역 */
.container .search_form .form_box .form_box_search {
    display: block;
}

.form_box .search-name {
	vertical-align: middle;
	margin: 0 2px;
}

/* admin/ _list.jsp -> 검색 폼 div 태그 '중성화' */
.container .search_form .form_box .Dneutered{
    padding: 0 3%;
}
/* admin/ _list.jsp -> 검색 폼 div 태그 '크기' */
.container .search_form .form_box .size {
    padding: 0 1%;
}

/* admin/ _list.jsp -> 검색 폼 밑 div (전체 목록 테이블) */
.container .lists {
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 75%;
}

/* admin/ _list.jsp -> 검색 폼 밑 테이블 a 링크 밑줄 제거 */
.container .lists .table td a {
    text-decoration: none;
}

/* 등록하기 버튼 */
.insert-form {
	display: flex;
	width: 75%;
	margin: 0 auto;
	justify-content: flex-end;
	
}

.insert-form .insertbtn {
	margin-right: 10px;
}

.qna-section {
	display: flex;
	width: 75%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: flex-end;
}

/* 총 게시물 */
.qna-section .total-data {
	font-size: 14px;
	margin-left: 1%;
}

/* qna : 정렬 */
.qna-section .qna_order {
    justify-content: right;
    margin-right: 1%;
}

/* space : 여백용 */
.space {
	margin: 4rem 0;
}

/* buttons : 버튼 정렬 */
.buttons {
	display: flex;
	margin: 1rem auto;
	width: 60%;
	justify-content: flex-end;
}

/* 댓글쓰기 */
#comment-table {
	width: 60%;
	margin: 0.5rem auto;
	
}

.reply-table {
	width: 60%;
	margin: 0 auto;
}

#content-reply {
    text-align: right;
}

#content-reply > button {
    margin-top: 0.5rem;
}

