/* 전체 div */
.container {
    text-align: center;
    margin: auto;
    width: 85%;
}

/* admin/user_content.jsp 테이블 태그 */
.container .userinfo {
    width: 50%;
    margin: auto;
}

.container .userinfo td {
	text-align: left;
	padding-left: 8%;
}

/* admin/cat&dog_content.jsp 테이블 태그 */
.container .petinfo {
    width: 60%;
    margin: auto;
}
/* admin/notice_content.jsp  */
.container .noticeinfo {
    width: 60%;
    margin: auto;
}

.container .noticeinfo .user {
	
}

.container .noticeinfo tr .user > a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
}

/* admin/_view.jsp 목록 버튼 */
.container .listbtn {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5%;
}

/* admin/_list.jsp 검색 결과 테이블 태그 */
.container .searched_list {
    width: 75%;
    text-align: center;
    margin: auto;
}

/* vertical-align 추가 */
.container .searched_list tr > th, td {
	vertical-align: middle !important;
}

/* admin/_list.jsp 표 제목  */
.container .searched_list .list-title {
	text-align: left;
}

.container .searched_list .list-title > a {
	display: block;
	text-decoration: none;
	color: black;
}

.container .searched_list .list-title > a:hover {
 	color: #686461;
}

/* admin/ _list.jsp -> 검색 폼 */
.container .search_form {
}

/* admin/ _list.jsp -> 검색 폼 div 태그 */
.container .search_form .form_box {
    border: 1px solid #545a62;
    width: 70%;
    margin: auto;
    padding: 2%;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    
}
/* admin/ _list.jsp -> 검색 폼 div 태그 검색 버튼 영역 */
.container .search_form .form_box .form_box_search {
    display: block;
}

.form_box .search-name {
	vertical-align: middle;
	margin: 0 2px;
}

/* admin/ _list.jsp -> 검색 폼 div 태그 검색 버튼 */
.container .search_form .form_box .btn.searchbtn {
    background: url(../image/ico-search.png) no-repeat 7px center;
    background-color: #6c757d;
    color: white;
    padding-left: 25px;
}
/* admin/ _list.jsp -> 검색 폼 div 태그 '중성화' */
.container .search_form .form_box .Dneutered{
    padding: 0 3%;
}
/* admin/ _list.jsp -> 검색 폼 div 태그 '크기' */
.container .search_form .form_box .size {
    padding: 0 1%;
}

/* admin/ _list.jsp -> 검색 폼 밑 div */
.container .lists {
	margin-top: 1%;
	margin-bottom: 1%;
	
}

/* admin/ _list.jsp -> 검색 폼 밑 테이블 a 링크 밑줄 제거 */
.container .lists .table td a {
    text-decoration: none;
}

/* 등록하기 버튼 */
.insert-form {
	display: flex;
	width: 75%;
	margin: 0 auto;
	justify-content: flex-end;
	
}

.insert-form .insertbtn {
	margin-right: 10px;
}

.qna-section {
	display: flex;
	width: 75%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: flex-end;
}

/* 총 게시물 */
.qna-section .total-data {
	font-size: 14px;
	margin-left: 1%;
}

/* qna : 정렬 */
.qna-section .qna_order {
    justify-content: right;
    margin-right: 1%;
}

/* space : 여백용 */
.space {
	margin: 4rem 0;

}