/* main-title */
body {
	overflow-x: hidden;
}

.main-contents {
	width: 90%;
	margin: 0 auto;
}

.main-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 35px;
    padding-top: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
    background-color: #f8f9fa; 
}

/* promo 이미지 */
.promo-title {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.promo-title p {
    position: relative;
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
/* 글자 애니메이션 */
.promo-title p span {
    font-size: 4rem;
    background: linear-gradient(to right, #ADA996 10%, #DBDBDB 50%, #EAEAEA 60%);
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s ease-in alternate infinite;
    display: inline-block;
}

@keyframes textclip {
   to{
       background-position: 200% center;
   }
}

/* main-video */
.main-video {
    display: grid;
    justify-content: center;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.main-video iframe, .main-video object, .main-video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/* dogSwiper */
.dogSwiper {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.dogSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

.dogSwiper .swiper-slide > a {
	height: 300px; 
	width: 300px;
	background-size: cover;
	background-position: center;
	text-decoration: none;
}

.dogSwiper .swiper-slide .swiper-text {
	font-size: 20px;
	color: white;
	font-weight: bold;
	position: relative;
	left: 6rem;
	top: 16rem;
	background-color: rgb(65, 63, 66, 0.5);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 5px;
}

.dogSwiper .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.dogSwiper .swiper-button-next, .swiper-button-prev {
}

.dogSwiper .swiper-button-next:hover, .swiper-button-prev:hover {
    color: gray;
}

/* heart-pet */
.main-title #heart-pet {
    margin-top: 1rem;
    margin-bottom: 0px;
    font-weight: bold;
}

/* 더 보러가기 */
.more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more > div > span {
	font-size: 1.8rem;
}

.more .btn-light {
	border: 1px solid black;
}

.animal-intro {
	height: 1rem;
 	background-color: #f8f9fa;
}

/* reviewSwiper */
.reviewSwiper {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.reviewSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
}

.reviewSwiper .swiper-slide > a {
	height: 300px; 
	width: 500px;
	background-size: cover;
	background-position: center;
	text-decoration: none;
}

/* review-textarea */
.reviewSwiper .swiper-slide .review-textarea {
	background-color: #f8f9fa;
	position: relative;
	top: 13rem;
	padding: 0.5rem 0;

}

.reviewSwiper .swiper-slide .review-textarea .title {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin: 0;
   
}

.reviewSwiper .swiper-slide .content {
    font-size: 13px;
    color: gray;
    margin: 0;
}