body {
	overflow-x: hidden;
}
.mypage_header {
    background-color: black;
    width: 100%;
    position: relative;
    color: white;

}

.mypage_header .mypage-header-title {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	padding-top: 1rem;
}

.mypage_header .mypage-header-title .mypage-mypage {
	
}

.mypage_header .mypage-header-title .mypage-adopt {
	
}

.mypage-adopt .adopt_a {
	text-decoration: none !important;
	color: white !important;
	vertical-align: middle;
	
}

.mypage_header .mypage{
    font-size: 24px;
    color: white;
}

.mypage_header #mypage_a {
    text-decoration: none;
    color: white;
}
.mypage_header .mypage #adopt_span{
	text-decoration: none;
}

.mypage_header .mypage #adopt_btn{
    background-color: aqua;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}
#adopt_span > .btn {
	vertical-align: middle;
    --bs-btn-padding-y: 0rem;
    --bs-btn-padding-x: 0.6rem;
    --bs-btn-border-radius: 1rem;
}

#adopt_span > .btn-sm {
	--bs-btn-padding-y: 0rem;
	--bs-btn-padding-x: 0.6rem;
	--bs-btn-border-radius: 1rem;
}

#adopt_span2 {
	font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.mypage_header .profile_img {
    display: inline-block;
}

.mypage_header .mypage_header_mid {
	padding-top: 3rem;
	padding-bottom: 3rem;
	display: flex;
	justify-content: space-between;
}

.mypage_header .mypage_header_mid .mypage-header-profile {
	display: flex;
	align-items: flex-end;
}

.mypage_header .mypage_header_mid .profile_text2 {
    display: inline-block;
    float: right;
}

.mypage_header .mypage_header_ mid .profile_text {
    margin-left: 30px;
    margin-right: 30px;
}

.profile_text > h1 {
	padding: 1rem;
}

.mypage_header .mypage_header_mid .profile_img #profile_dog {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.mypage_header .profile_text .sp1 a{
    font-size: 13px;
    font-weight: bold;
    color: #e6e6e6;
    text-decoration: none;
}
.mypage_header .profile_name #profile_text .sp1:hover{
    cursor: pointer;
}

.mypage_header .mypage_header_mid {
	width: 70%;
	margin: 0 auto;
	
}

.mypage_header .mypage_header_mid .profile_text #test {
    margin-bottom: 20px;
}

.mypage_header .mypage_header_mid .profile_text2 .mypage_img {
    width: 4rem;
}

.mypage_header .mypage_header_mid .profile_text2 #mypage_table {
    width: 500px;
    height: 150px;
    text-align: center;
    position: relative;
}

.mypage_header .mypage_header_mid .profile_text2 #mypage_table .table_a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.mypage_header .mypage_header_mid .profile_text2 #mypage_table .table_b {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.mypage_middle {
    width: 100%;
    margin: auto;
}
.mypage_middle .mypage_top {
    width: 100%;
    height: 4rem;
    background-color: white;
}

/* mypage_menu */
.mypage-body {
	width: 70%;
	display: flex;
	margin: 0 auto;
	align-items: center;
}


/* mypage_menu */
.mypage-body .mypage_menu {
	width: 20%;
	height: 50%;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: #f8f9fa;
	position: relative;
}

.mypage-body .mypage_menu .mypage-pin {
	position: absolute;
	font-size: 2rem;
}

.bi-pin-angle-fill::before {
/* 	transform: scaleX(-1) !important;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);	 */
}

.mypage-body .mypage_menu .mypage-pin > i {
}

.mypage-body .mypage_menu .middle_ul {
    list-style: none;
    font-size: 17px;
    vertical-align: middle;
    padding-left: 3.2rem;
}

.mypage-body .mypage_menu .middle_ul > li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mypage-body .mypage_menu .middle_ul > li:first-child {
	margin-top: 4rem;
}
.mypage-body .mypage_menu .middle_ul > li:last-child {
	margin-bottom: 4rem;
}

.mypage-body .mypage_menu .middle_ul .my_a {
	color: black;
    text-decoration: none;
    font-size: 17px;   
}

.mypage-body .mypage_menu .middle_ul .my_a:hover {
	color: #a6a6a6 !important;
}

.mypage_middle .mypage_cont {
    width: 90%;
    height: auto;
/*    border: 1px solid black;*/
}

.mypage_middle .mypage_bottom {
    width: 100%;
    height: 1rem;
}

.mypage_middle .mypage_cont .searched_list {
	
}


.mypage_middle .mypage_cont .my_cont_ul .animal_cont {
    color: gray;
    text-decoration: none;
}

.mypage_middle .mypage_cont .my_cont_ul .animal_cont > img {
	
}

.mypage_middle .mypage_cont .wish_table .animal_cont2{
    color: gray;
    text-decoration: none;
    display: inline-block;
}

.mypage_middle .mypage_cont .wish_table #sp_name{
    font-weight: bold;
    font-size: 22px;
}

.mypage_middle .mypage_menu .middle_ul .my_a:hover{
    color: skyblue;
    cursor: pointer;
}

.mypage_middle .mypage_cont .my_cont_ul .animal_cont:hover{
    color: black;
    cursor: pointer;
}

.mypage_middle .mypage_cont .my_cont_ul .my_cont_li{
	display: inline-block;
}

.mypage_middle .mypage_cont .my_cont_ul {
    display: inline-block;
    list-style: none;
}

.mypage_middle .mypage_cont .my_cont_ul .my_cont_img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.mypage_middle .mypage_cont .table {
    margin-top: 50px;
    text-align: center;
    width: 90%;
}

.mypage_middle .mypage_cont .table th {
	background-color: #f8f9fa;
	vertical-align: middle;
}

.mypage_middle .mypage_cont .table .addr_info {
	text-align: left;
}

.mypage_middle .mypage_cont .table .addr_info .addr {
	border: 1px solid #ced4da;
	margin: 1%;
	width: 200px;
}

.mypage_middle .mypage_cont .table .addr_info .search_zipcode {
	border: none;
	background-color: #f8f9fa;
	border-radius: 5px;
	padding: 1% 2%;
	margin-left: 1%;
	width: 200px;
}

.mypage_middle .mypage_cont .btn_position {
	margin-top: 2%;
	display: flex;
	justify-content: flex-end;
	width: 90%;
}

.mypage_middle .mypage_cont .btn_position .btn_update {
	margin-right: 1%;
}

.accordion {
    margin-top: 200px;
    width: 50%;
    min-width: 700px;
    font-family: 'Noto Sans KR', sans-serif !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#receiver {
	width: 30% !important;
}

.mypage_middle .mypage_cont .not_email {
	font-size: 25px;
	color: red;
	font-weight: bold;
}

/* mypage 공통 */
.mypage_cont h3 {
	margin-left: 2rem;
	margin-bottom: 0;
	text-align: left;
}

.mypage_middle .mypage_cont .wish_table {
	border-collapse: separate;
	border-spacing: 10px;
	margin-bottom: 2%;
	font-size: 15px;
	width: 100%;
	padding: 1rem;
}
.mypage_middle .mypage_cont .wish_table tr {
	margin-bottom: 0;
	vertical-align: middle;
}

.mypage_middle .mypage_cont .wish_table tr td {
	width: 50%;
}


.mypage_middle .mypage_cont .wish_table .animal_detail {
	border: 1px solid #e9ecef;
	padding: 1.5rem;
	border-radius: 10px;
	display: flex;
	margin: 0;
	background-color: #f8f9fa;
	align-items: center;
}

.mypage_middle .mypage_cont .wish_table .animal_detail > div {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 35%;
}

.wish_table .animal_detail .animal-detail-cont {
	width: 65% !important;
}

.animal-detail-cont .review-button{
	display: flex;
	justify-content: flex-end;
	padding-top: 0.5rem;
}

.animal-detail-cont .animal_cont2 {
	padding-left: 1rem;
}

.animal-detail-cont .animal_cont2:hover {
	color: gray;
}

.animal-detail-cont .animal_cont2 > span {
	padding-left: 1rem;
	color: black;
}
.mypage_middle .mypage_cont .wish_table .animal_detail label {
	padding: 5px 10px;
	font-weight: bold;
	background-color: #e9ecef;
	border-radius: 10px;
	width: 90px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
	color: black;
}

.mypage_middle .mypage_cont .my_cont_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.mypage_middle .mypage_cont .grade_info {
	width: 35%;
	height: 500px;
	padding: 1rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

.mypage_middle .mypage_cont .grade_info .grade-title {
	background-color: #e9ecef;
	width: 100%;
	padding: 1rem;
	height: 15%;
}

.grade-title > h2 {
	font-weight: bold;
}

.mypage_middle .mypage_cont .grade_info .grade-text {
	width: 100%;
}

.mypage_middle .mypage_cont .grade_info p {
	font-size: 20px;
}
	
.flex_div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}

.arrow {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

/* .mypage_middle .mypage_cont .wrapper {
	margin-left: 5%;
}

.mypage_middle .mypage_cont .wrapper .cont {
	display: flex;
	margin-top: 5%;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	margin-bottom: 2%;
}

.mypage_middle .mypage_cont .wrapper .cont .cont_2 {
	border-radius: 10px;
	border: 2px solid #f8f9fa;
	margin-left: 15px;
	text-align: left;
	padding: 10px;
	width: 30%;
	font-size: 15px;
}

.mypage_middle .mypage_cont .wrapper .cont .cont_2 .cont_detail label {
	background-color: #f8f9fa;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 2% auto;
	font-weight: bold;
	width: 90px;
	text-align: center;
} */