body {
	overflow-x: hidden;
}
.mypage_header {
    background-color: black;
    width: 100%;
    height: 300px;
    position: relative;
    color: white;

}

.mypage_header.mypage_header_mid {
    display: inline-block;
}
.mypage_header .mypage{
    margin-left: 10%;
    font-size: 24px;
    color: white;
}

.mypage_header #mypage_a {
    text-decoration: none;
    color: white;
}
.mypage_header .mypage #adopt_span{
    float: right;
    font-size: 20px;
    margin-right: 300px;
    color: white;
}

.mypage_header .mypage #adopt_btn{
    background-color: aqua;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.mypage_header .mypage #adopt_span2{
    font-size: 20px;
    color: white;
    margin-top: 5px;
}
.mypage_header .profile_img {
    display: inline-block;
}

.mypage_header .mypage_header_mid .profile_text {
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
}
.mypage_header .mypage_header_mid .profile_text2 {
    display: inline-block;
    margin-top: 20px;
    margin-right: 15%;
    float: right;
}

.mypage_header .mypage_header_ mid.profile_text {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.mypage_header .mypage_header_mid .profile_img #profile_dog {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-left: 200px;
    position: relative;
}

.mypage_header .profile_text .sp1 a{
    font-size: 10px;
    color: gray;
    text-decoration: none;
}
.mypage_header .profile_name #profile_text .sp1:hover{
    cursor: pointer;
}

.mypage_header .mypage_header_mid .profile_text #test {
    margin-bottom: 20px;
}

.mypage_header .mypage_header_mid .profile_text2 .mypage_img {
    width: 70px;
    height: 50px;
}

.mypage_header .mypage_header_mid .profile_text2 #mypage_table {
    width: 500px;
    height: 150px;
    text-align: center;
    position: relative;
}

.mypage_header .mypage_header_mid .profile_text2 #mypage_table .table_a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.mypage_header .mypage_header_mid .profile_text2 #mypage_table .table_b {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.mypage_middle {
    width: 100%;
    margin: auto;
}
.mypage_middle .mypage_top {
    width: 100%;
    height: 100px;
    background-color: white;
}
.mypage_middle .mypage_menu {
    width: 15%;
    height: 400px;
    float: left;
    /*margin-left: 10%;*/
/*    border: 1px solid black;*/
}
.mypage_middle .mypage_cont {
    width: 85%;
    height: auto;
    margin-left: 10%;
/*    border: 1px solid black;*/
}
.mypage_middle .mypage_bottom {
    width: 100%;
    height: 600px;
    background-color: white;
}

.mypage_middle .mypage_menu .middle_ul{
    padding-top: 20%;
    list-style: none;
    margin-left: 150px;
    font-size: 20px;
    
}

.mypage_middle .mypage_menu .middle_ul .my_a{
    color: gray;
    text-decoration: none;
    margin-top: -60px;
}

.mypage_middle .mypage_cont .my_cont_ul .animal_cont{
    color: gray;
    text-decoration: none;
}

.mypage_middle .mypage_cont .wish_table .animal_cont2{
    color: gray;
    text-decoration: none;
}

.mypage_middle .mypage_cont .wish_table .animal_cont2{
    color: gray;
    text-decoration: none;
}

.mypage_middle .mypage_cont .wish_table #sp_name{
    font-weight: bold;
    font-size: 22px;
}

.mypage_middle .mypage_menu .middle_ul .my_a:hover{
    color: skyblue;
    cursor: pointer;
}

.mypage_middle .mypage_cont .my_cont_ul .animal_cont:hover{
    color: black;
    cursor: pointer;
}

.mypage_middle .mypage_cont .my_cont_ul .my_cont_li{
	display: inline-block;
}

.mypage_middle .mypage_cont .my_cont_ul {
    display: inline-block;
    list-style: none;
}

.mypage_middle .mypage_cont .my_cont_ul .my_cont_img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.mypage_middle .mypage_cont .table {
    width: 600px;
    margin-top: 100px;
}

.accordion {
    margin-top: 200px;
    width: 50%;
    min-width: 700px;
    font-family: 'Noto Sans KR', sans-serif !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#receiver {
	width: 30% !important;
}

.mypage_middle .mypage_cont .not_email {
	font-size: 25px;
	color: red;
	font-weight: bold;
}

.wish_table {
	width: 1000px;
	border-collapse: separate;
	border-spacing: 50px; 50px;
}
.mypage_middle .mypage_cont .my_cont_img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
