.notice-board {
	height: 800px;

}

.notice-board .table{
    width: 60%;
    text-align: center;
}

.notice-board .notice_content {
    text-decoration: none;
    color: gray;
}

.notice-board .notice_content {
	border: solid 1px lightgray;
	width: 60%;
	height: auto;
}

.notice-board .notice_content .sp_content1 {
	font-size: 25px;
	margin: 30px;
	float: left;
	color: black;
}

.notice-board .notice_content .sp_content2 {
	float: right;
	margin: 20px;
	color: gray;
}

.notice-board .notice_content .sp_content3 {
	float: left;
	margin: 30px;
	color: black;
}

.notice-board .table a{
    text-decoration: none;
}

.notice-board .notice_content .notice_content_mid {
	display: block;
	clear: both;
	margin: 30px;
} 

.notice-board .notice_content .notice_content_mid button{
	border-color: gray;
	margin: 50px;
}

/* 정렬 */
.notice-board .qna-section {
	display: flex;
	width: 60%;
}

/* admin_notice에서 사용하는 css */

.container .order_form {
	float: right;
	width: 26%;
	clear: both;
}

.container .lists #insert_btn {
	float: right;
	clear: both;
}

/* notice content에서 이미지 크기 고정으로 지정 */
.container .table .list_img{
	width: 150px;
	height: 150px;
}
