.notice-board {
	height: auto;

}

.notice-board .notice-title {
	width: 70%;
	text-align: left;
	font-weight: bold;
	font-size: 2rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.notice-board .notice-title > p {
	font-size: 15px;
	
}

.notice-board .search-table-box {
	width: 65%;
	border: 1px solid darkgray;
	border-radius: 5px;
	padding: 1rem;
	background-color: #f8f9fa;
	
}

.notice-board .search-table-box .search-semi-title {
	text-align: left;
	padding-left: 1.5rem;
	margin-bottom: 0.5rem;
}

.notice-board .search-table-box .search-semi-title > span {
	font-weight: bold;
}

.notice-board .search-table-box .search-buttons {
	text-align: right;
}

.notice-board .search-table-box .search-buttons .btn-light {
	border: 1px solid darkgray;	
    
}

.notice-board .table{
    width: 100%;
    text-align: center;
}

.notice-board #search-table {
}

.notice-board #search-table tr th, td {
	vertical-align: middle;
	border: none;
}

.notice-board #search-table .notice-date {
    display: flex;
}

.notice-board #search-table .notice-date > input {
	margin-right: 0.5rem;
}
/* 
.notice-board .notice_content {
    text-decoration: none;
    color: gray;
}
 */
.notice-board .notice-main-table {
	width: 70%;
}

.notice-board .notice-main-table td {
	text-align: center;
}

.notice-board .notice-main-table .notice-table-title {
	text-decoration: none;
	text-align: left;
}

.notice-board .notice-main-table .notice-table-title > a {
	color: black;
}

.notice-board .notice-main-table .notice-table-title > a:hover {
	text-decoration: underline;
}

.notice-board h2 {
	text-align: left;
	width: 70%;
	font-weight: bold;
	margin-bottom: 10px;
}

.notice-board .notice_content {
	border: solid 1px lightgray;
	width: 70%;
	height: auto;
}

.notice-board .notice_content .notice_title {
	text-align: left;
	margin-top: 10px;
}

.notice-board .notice_content .sp_content1 {
	font-size: 25px;
	margin: 30px;
	color: black;
}

.notice-board .notice_content .sp_content2 {
	/* float: right;
	margin: 20px;
	color: gray; */
}

.notice-board .notice_content .sp_content3 {
	/* float: left;
	margin: 30px;
	color: black; */
	resize: none;
	height: auto;
	border: none;
}

.notice-board .notice_content .sp_content3:focus {
	outline: none;
}

.notice-board .table a{
    text-decoration: none;
}

.notice-board .notice_content .notice_content_mid {
	display: block;
	clear: both;
	margin: 30px;
} 

.notice-board .notice_content .notice_content_mid button{
	border-color: gray;
	margin: 50px;
}

/* 정렬 */
.notice-board .qna-section {
	display: flex;
}

.notice-section .row .total-data .form-select {
	/* float: right;
	clear: both;
	width: auto; */
}

.notice-section2 {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	justify-content: flex-end;
	margin-bottom: 0.5rem;
}

body {
	overflow-x: hidden;
}
/* admin_notice에서 사용하는 css */

}

.container .lists #insert_btn {
	/* float: right;
	clear: both; */
}

/* notice content에서 이미지 크기 고정으로 지정 */
.container .table .list_img{
	width: 150px;
	height: 150px;
}

.notice-board .search_form .form-select {
	width: 100px;
}

.notice-board .search_form .form-control {
}

.notice-board .notice_content .notice_img {
	width: 500px;
	height: 450px;
}

.notice-board .btn_list {
	margin: 2% auto;
}

#table_font {
	font-size: 15px;
}
