/* support.jsp에서 사용하는 css */

body {
	font-family: 'Gowun Dodum', sans-serif !important;	
	margin: 0px;
	font-size: 17px;
	overflow-x: hidden;
}

.div1 {
	height: 775px;
}

.div1 .btn_support {
	margin-top: 30px;
	width: 300px;
	height: 300px;
	
} 
 .div1 .btn_support:hover {
 	cursor: pointer;
	opacity: 70%;
 }
 
 
/* support_insert.jsp에서 사용하는 css */
 
.div_sup_insert .btn-group {
	display: block;
}
 
 .div_sup_insert .support_li {
 	display: inline-block;
 	list-style: none;
 	margin: 15px;
 }
 
/* admin support_list에서 사용하는 css */
/*  table 폰트 크기 15px */
 .container .lists .table{
 	font-size: 15px;
 }
 
 
/* admin support_insert, support_update에서 사용하는 css */
 .div1 .table{
 	font-size: 15px;
 	width: 70%;
 }
 
 .div1 .table .table-light {
 	vertical-align: middle;
 }
  
/*  .container .order_form {
 	width: 70%;
 	margin: auto;
 }
 
 .container .order_form .sup-section {
 	display: flex;
 	flex-direction: row-reverse;
 } */
 
 .sup-section .row .total-data .form-select {
 	float: right;
 	clear: both;
 	width: auto;
 }
 
.container .lists #insert_btn{
	float: right;
 	clear: right;
}

.div_sup_insert .sup_img {
	width: 904px;
}

.div_sup_insert .sup_table{
	
	width: 500px;
}

.div_finish {
	margin-top: 20px;
	height: auto;
}

.div_finish #sup_finish {
	height: 700px;
	width: 600px;
}

.div_finish .sup_text #text_id {
	position: absolute;
	top: 48%;
	left: 47%;
	color: #1D5454;
	font-weight: bold;
}
 
.div_finish .sup_text #text_amount {
	position: absolute;
	top: 56%;
	left: 48%;
	color: #1D5454;
	font-weight: bold;
}