/* support.jsp에서 사용하는 css */

body {
	font-family: 'Gowun Dodum', sans-serif !important;	
	margin: 0px;
	font-size: 17px;
	overflow-x: hidden;
}

.div1 {
	height: 775px;
}

.div1 .btn_support {
	margin-top: 30px;
	width: 300px;
	height: 300px;
	
} 
 .div1 .btn_support:hover {
 	cursor: pointer;
	opacity: 70%;
 }
 
 
/* support_insert.jsp에서 사용하는 css */

.div_sup_insert .support-title {
	width: 70%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.support-title h2 {
	font-weight: bold;
}

.support-title p {
	margin: 0;
	font-size: 14px;
}

.support-title ul {
	list-style: none;
	font-size: 14px;
	margin: 0.5rem;
	padding-left: 0.5rem;
}

.support-title h6 {
	margin-bottom: 0;
	margin-top: 1rem;
}
 
.div_sup_insert .btn-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	
}

.btn-group h6 {
	margin-bottom: 0;
}

.btn-group .btn-ul {
	display: flex;
	width: 100%;
}

.div_sup_insert .btn-group .support_ul {
	list-style: none;
	display: inherit;
	margin-bottom: 0;
	padding-left: 1rem;
	align-items: center;
}

.div_sup_insert .btn-group .support_ul .support_li {
	margin-left: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.support_li:first-child {
	margin-left: 0 !important;
}

.support_ul .money-input {
	display: inherit;
	width: 50%;
	align-items: center;
}

.div_sup_insert .support-body {
	width: 70%;
}

/* admin support_list에서 사용하는 css */
/*  table 폰트 크기 15px */
 .container .lists .table{
 	font-size: 15px;
 }
 
 
/* admin support_insert, support_update에서 사용하는 css */
 .div1 .table{
 	font-size: 15px;
 	width: 70%;
 }
 
 .div1 .table .table-light {
 	vertical-align: middle;
 }
  
/*  .container .order_form {
 	width: 70%;
 	margin: auto;
 }
 
 .container .order_form .sup-section {
 	display: flex;
 	flex-direction: row-reverse;
 } */
 
 .sup-section .row .total-data .form-select {
 	float: right;
 	clear: both;
 	width: auto;
 }
 
.container .lists #insert_btn{
	float: right;
 	clear: right;
}

.div1 .sub-title {
	display: flex;
	margin: 1rem auto;
	background-color: #FDEDEC;
	border-radius: 10px;
	width: 70%;
}

.div1 .sub-title > h4 {
	font-weight: bold;
	margin: 1rem;
}

.div1 .noticeinfo .middle {
	vertical-align: middle;
}

/* 후원하기 header */
.div_sup_insert {
	text-align: center;
}

.div_sup_insert .sup_img {
	width: 904px;
}

/* 테이블 */
.support-body {
	padding: 1rem;
	background-color: #f8f9fa;	
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	margin-left: auto;
	margin-right: auto;
}

.div_sup_insert .sup_table {	
	width: 100%;
	vertical-align: middle;

}

.support-body .sup_table tr th, td {
	padding: 0.2rem;
}

.support-body .sup_table tr th {
	padding-left: 1rem;
	padding-bottom: 0.5rem;
}

.div_finish {
	margin-top: 20px;
	height: auto;
}

.div_finish #sup_finish {
	height: 700px;
	width: 600px;
}

.div_finish .sup_text #text_id {
	position: absolute;
	top: 48%;
	left: 47%;
	color: #1D5454;
	font-weight: bold;
}
 
.div_finish .sup_text #text_amount {
	position: absolute;
	top: 56%;
	left: 48%;
	color: #1D5454;
	font-weight: bold;
}

