/* animal에 쓸 css */
body {
	overflow-x: hidden;
}

.div1 {
	width: 100%;
	margin: auto;
}

.div1 .search_link {
	text-decoration: none;
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

/* 검색 form */
.div1 .form_search {
	width: 65%;
	margin: 0 auto;
	border: 1px solid darkgray;
	background-color: #f8f9fa;
	border-radius: 5px;
	padding: 1rem;
	font-size: 17px;
}

.div1 .form_search .search-semi-title {
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.div1 .form_search .search-semi-title > span {
    font-weight: bold;
}

/* 테이블 */
.div1 .form_search .animal-table {
	vertical-align: middle;
	
}

.div1 .form_search .animal-table .animal-place-select {
	display: flex;
}

.animal-place-select > select {
	width: 40%;
}

.animal-place-select > input {
    width: 60%;
    margin-left: 0.5rem;
}

.div1 .form_search form .lil-title {
	margin: 1%;
	
}

.div1 .form_search .animal_row .btn {
}

.div1 .form_search .animal_row label {
	background-color: darkgray;
	color: #fff;
}

.div1 .order {
	margin-bottom: 2%;
	display: flex;
	justify-content: flex-end;
	margin-right: 8%;
}
.div1 .order select {
	width: 150px;
}
.div1 .main-title {
	width: 70%;
	margin: 0 auto;	
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.div1 .main-title span {
	font-size: 14px;
	color: darkgray;
	cursor: pointer;
}

/* .justify-content-center .wells {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #e6ecf1;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
} */

.img-thumbnail{
	height: 100%;
}

div div .animal-col {
	display: flex;
	flex-direction: column;
	flex:1;
}
div div .animal-col dl {
	flex:1;
}
.animal_row>.col {
	margin: 2px;
}

.animal-row {
	text-align: center;
}

.animal-keyword {
	width: 31.8% !important;
}


.animal_wrap {
	position: relative;
	margin: 10px;
	background-color: $indigo-900;
}

.back_image {
	width: 80%;
	height: 80%;
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
}

.animal_explan {
	font-size: x-small;
	height: 95%;
}

.animal_content {
	height: 300px;
}

.input_inputContainer__1ypW_ {
	position: relative;
	width: 480px;
	height: 96px;
	margin: 0 auto;
	padding: 24px 0
}

.mainContent_mainContentBox__shdST {
	position: relative;
}

.mainContent_mainContentBox__shdST .mainContent_mainImgWrapper__DJlMe {
	width: 95%;
	height: 90%;
	margin-bottom: 15px
}

.main_mainContents__GXYBn {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 27px
}

.main_mainContents__GXYBn .main_mainGridContainer__xl9yt {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 370px);
	grid-row-gap: 30px;
	row-gap: 30px;
	grid-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
	margin-bottom: 20px
}