. {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

body {
	font-family: 'Gowun Dodum', sans-serif;	
	font-weight: 400;
    font-size: 17px;
    overflow-x: hidden;
}

/* header-logo */
.wrap .h-wrap .header-logo {
    border: 0px;
    text-align: center;
    display: grid;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

/* header-space */
.wrap .h-wrap .header-logo .space {
}

/* header-image 중앙 이미지 */
.wrap .h-wrap .header-logo .header-image {
}

.wrap .h-wrap .header-logo .header-image img {
    height: 100px;
}

/* header-nav */
.wrap .h-wrap .header-logo .header-nav {
    justify-content: flex-end;
}

.wrap .h-wrap .header-logo .header-nav .login_section {
	width: 60%;
	font-size: 15px;
	
}

.wrap .h-wrap .header-logo .header-nav ul {
    margin: 0px;
    padding: 0px;
}

.wrap .h-wrap .header-logo .header-nav ul li {
    list-style: none;
    padding: 5px;
}

.wrap .h-wrap .header-logo .header-nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 1rem 1rem;
    display: block;    
}

.wrap .h-wrap .header-logo .header-nav ul li a:hover {
    color: black;
}

.wrap .h-wrap .header-logo a {
}

/* user-header */
.header-logo .login-section {
}

.header-logo .login-section .login-location {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-logo .login-section .login-title {	
	font-weight: bold;
	height : 60px;
	padding-left: 0.5rem !important;
	padding-right: 2rem !important;
}

.header-logo .login-section .user-image {
    width: 30px;
    height: 30px;
    clip-path: circle(50% at 50% 50%);
    vertical-align: middle;
}

.login-title > span {
}

.header-logo .login-section .join-location {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* dropdown */
.dropdown-item {
	text-align: center;
	font-weight: bold;
}

/* nav-bar */
.wrap .h-wrap .nav-bar {
    display: grid;
    align-items: center;
}

.wrap .h-wrap .nav-bar .nav-links {
	font-weight: bold;
}

.wrap .h-wrap .nav-bar .nav-links > ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

.wrap .h-wrap .nav-bar .nav-links > ul > li {
    list-style: none;
}

.wrap .h-wrap .nav-bar .nav-links > ul > li > a {
    text-decoration: none;
    color: black;
    padding: 1rem 3rem;
    display: block;
    border-bottom: 1px solid white;

}

.wrap .h-wrap .nav-bar .nav-links > ul > li > a:hover {
    color: #413F42;
    box-shadow: rgb(204, 204, 204, 0.4) 0px 3px;
}

.wrap .h-wrap .modal .modal-content .modal-body {
    margin: auto;
    text-align: center;
}

.wrap .h-wrap .modal .modal-content .modal-body label {
	margin-bottom: 3%;
}

.wrap .h-wrap .modal .modal-content .modal-body .login_text {
    margin: auto;
    width: 200px;
    outline: none;
    padding: 2%;
    padding-left: 4%;
    margin-bottom: 2%;
    font-size: 15px;
    display: block;
}

.wrap .h-wrap .modal .modal-content .modal-body .login_btn {
    background-color: #000000;
    color: #ffffff;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 200px;
}

.wrap .h-wrap .modal .modal-content .modal-body > ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 3%;
}

.wrap .h-wrap .modal .modal-content .modal-body > ul > li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    margin: 0 20px;
    font-weight: bold;
}

.wrap .h-wrap .modal .modal-content .modal-body > ul > li > a {
    text-decoration: none;
    color: black;
}

.wrap .h-wrap .modal .modal-content .modal-body > ul > li > a:hover {
    color: #FD86B0;
}


.wrap .h-wrap .modal .modal-content .modal-footer {
    justify-content: center;
}

.wrap .h-wrap .modal .modal-content .modal-footer #id_found {
	display: none;
}

.wrap .h-wrap .modal .modal-content .modal-footer #id_found .found_title {
	font-size: 16;
	margin-bottom: 3%;
}

.wrap .h-wrap .modal .modal-content .modal-footer #id_found .found_title .span_id {
	font-size: 14;
}

/* footer */
.footer {
    display: grid;
    background-color: lightgray;
    font-size: 13px;
    color: #545a62;
}

.footer .row {
    padding: 1rem;
}

.footer .footer-info {

}

.footer .footer-info ul {
    margin: 0;
    padding: 0;
}

.footer .footer-info p {
    margin: 0;

}

.footer .footer-info ul li {
    display: inline-block;
    list-style: none;

}

.footer .footer-info ul li a {
    font-size: 12px;
    text-decoration: none;
    color: #3C4048;
    font-weight: 450;
    font-size: 14px;

}

.footer .footer-info ul li a:hover {
    color: gray;
}

.footer .footer-info span {
}

.footer .footer-info .copyright {
}

