/* animal에 쓸 css */
body {
	overflow-x: hidden;
}

.div1 {
	width: 100%;
	margin: auto;
}

.div1 .search_link {
	text-decoration: none;
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

/* 검색 form */
.div1 .form_search {
	width: 65%;
	margin: 0 auto;
	border: 1px solid darkgray;
	background-color: #f8f9fa;
	border-radius: 5px;
	padding: 1rem;
	font-size: 17px;
}

.div1 .form_search .search-semi-title {
    text-align: left;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.div1 .form_search form {
	margin: 0;
}

.div1 .form_search .search-semi-title > span {
    font-weight: bold;
}

/* 테이블 */
.div1 .form_search .animal-table {
	vertical-align: middle;
	
}

.div1 .form_search .animal-table tr th, td {
	padding-right: 1rem;
	padding-left: 1rem;
}

.div1 .form_search .animal-table .animal-place-select {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.animal-table .animal-size {
	width: 40%;
}

.animal-table .animal-weight {
    margin-left: 0.5rem;
    width: 60%;
}

.div1 .form_search .search-buttons {
	text-align: right;
} 

.div1 .form_search .search-buttons .btn-light {
	border: 1px solid darkgray;
}

.animal-place-select > select {
	width: 39%;
}

.animal-place-select > input {
	width: 60%;
}

.div1 .form_search .animal_row .btn {
}

.div1 .form_search .animal_row label {
	background-color: darkgray;
	color: #fff;
}

.div1 .order {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

.div1 .order .form-select {
    float: right;
    clear: both;
    width: auto;
}

.div1 .main-title {
	width: 70%;
	margin: 0 auto;	
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.div1 .main-title span {
	font-size: 14px;
	color: darkgray;
	cursor: pointer;
}

.div1 .main-title p {
	font-size: 14px;
}

/* .justify-content-center .wells {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	border: 1px solid #e6ecf1;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
} */

.img-thumbnail{
	height: 100%;
}

div div .animal-col {
	display: flex;
	flex-direction: column;
	flex:1;
}
div div .animal-col dl {
	flex:1;
}
.animal_row>.col {
	margin: 2px;
}

.animal-row {
	text-align: center;
}

.animal-keyword {
	width: 31.8% !important;
}


.animal_wrap {
	position: relative;
	margin: 10px;
	background-color: $indigo-900;
}

.back_image {
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
}

.animal_explan {
	font-size: x-small;
	height: 95%;
}

.animal_content {
	height: 300px;
}

.input_inputContainer__1ypW_ {
	position: relative;
	width: 480px;
	height: 96px;
	margin: 0 auto;
	padding: 24px 0;
}

.mainContent_mainContentBox__shdST {
	position: relative;
}

.mainContent_mainContentBox__shdST .mainContent_mainImgWrapper__DJlMe {
	width: 100%;
	height: 100%;
}

.main_mainContents__GXYBn {
	max-width: 65%;
	margin: 0 auto;
	padding: 0 27px;
	margin-bottom: 7rem;
}

.main_mainContents__GXYBn .main_mainGridContainer__xl9yt {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 370px);
	grid-row-gap: 7rem;
	grid-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 3rem;
	margin-bottom: 20px
}

.mainContent_mainTitle__8iW62 {
	font-weight: bold;
	font-size: 1.5rem;
}

/* animal_content */
.mainContent_mainContent__w_Buk {
	background-color: #F1F1F1;
	width: 100%;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1.5rem;
	margin-top: 0.5rem;
}

.animal-content-a {
	font-size: 17px;
	text-decoration: none;
	color: black;
}

.animal-content-a:hover {
	color: #4A403A;
}

.animal-content-a .animal-species {
	font-size: 13px;
	font-weight: normal;
	color: #413F42;
}

.mainContent_mainAuthor__kKyGl {
	font-size: 15px;
	font-weight: normal;
	color: #413F42;
}

.pagination {
	margin-bottom: 3rem;
}

.rounded-pill {
	font-size: 13px !important;
	padding: 0.3rem 0.5rem !important;
}
