<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

	<!-- Alias 설정 : 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.heartpet.model.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.heartpet.action.QnaDAO" alias="QnaDAO"/>
		<typeAlias type="com.heartpet.action.AnimalDAO" alias="AnimalDAO"/>
		<typeAlias type="com.heartpet.model.AnimalDTO" alias="AnimalDTO"/>
	</typeAliases>	
	
	
</configuration>

